.nav-container{
    background-color: #212a31!important;
    padding-inline: 2em;
    padding-inline-start: 1em;
    z-index: 4;
}

.logo{
    font-family: "Slabo 27px", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: #748d92;
    cursor: pointer;

}
.logo:hover{
    color: #124e66;
}

.search-btn{
    border-color:#748d92;
    color: #d3d9d4;
    background-color: #124e66;
    border-width: 1px;
    font-size: 1.1em;
    font-weight: 700;
    
}

.search-btn:hover{
    background-color: #2e3944;
    color: #999999;
    border-color: #748d92;
}

.search-input{
    font-size: 1.1em;
    background-color: #d3d9d4;
}

.logo-burger-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.burger-container{
    display: inline-block;
    cursor: pointer;
    padding-inline-end: 1em;
    z-index: 3;
}


.bar1,.bar2,.bar3{
    width: 35px;
    height: 5px;
    background-color: #d3d9d4;
    margin: 10px 0;
    transition: 0.4s; 
    

}

.change .bar1 {
    transform: translate(0, 15px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -15px) rotate(45deg);
}

.dark-cover{
   background-color: rgba(0, 0, 0, 0.8);;
   z-index: 2 ;
   position: fixed;
   background-size: cover;
   height: 100%;
   width: 100%;
   opacity: 0.5;
  

}

.burger-menu{
   position: absolute;
    background-color: #2e3944;
   border-style: solid;
   border-top-style: none;
   border-left-style: none;
   border-width: 2px;
   z-index: 4;
   height: 100%;
   width: 50%;
   color:#748d92 ;
   animation-name: slide-burger;
   animation-duration: 4s;
}
@keyframes slide-burger{
    0% {left:200px}
}
.burger-list{
    list-style-type: none;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 2em;
    padding: 5%;
    cursor: pointer;
    
}

.menu-off{
    display: none;
}

.burger-list-container{
    text-align: center;
}