*{
    margin: 0;
    padding: 0;
    font-size: 16px ;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;

    
}
body{
    background-color: #2e3944;
}


.page-btn-container{
    display: flex;
    justify-content: space-around;
    padding-inline: 2em;
    
}

.page-btn{
    text-decoration: none;
    border-style: solid;
    font-size: 2em;
    color: #efefef;
    padding-inline: 0.5em;
    border-width: 3px;
    background-color: black;
    border-color: #efefef;
    border-radius: 16px;
}

.page-btn:hover{
    background-color: #efefef;
    border-color:black;
    color: black;
}



.carousel {
    background: #EEE;
    
  }
  
  .carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
 
  .carousel-cell.is-selected {
    background: #ED2;
  }

  .carousell-container-top{
margin-block: 2em;
margin-inline: 3em;
}

.movie-poster{
    width: 200px;
    height: 300px;
    
}

.list-name{
    font-size: 2em;
    text-decoration: none;
    color: #ED2;
    border-bottom-style: solid;
    border-width: 2px;
    font-weight: bold;
    
}

.list-name:hover{
    color: #d3d9d4;
}

.movies-container{
    margin-top: 0.5em;
    position: relative;
}

.poster-carousell:hover{
  
}

.movie-info{
    background: rgba(0, 0, 0, 0.8);
    color: #d3d9d4;
    position: absolute;
    top: 90%;
    left: 50%;
    width: 200px;
    height: 300px;
    transform: translate(-50%, -50%);
    padding: 5px;
    text-align: center;
}

.wishlist-btn{
    border-style: solid;
    background-color: #124e66;
    border-color:#748d92;
    color: #d3d9d4;
    padding: 5px;
    border-width: 1px;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    border-radius: 40px;
    padding-inline: 20px;
}

.movie-info-off{
    display: none;
}